{
	"root": true,
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["jest", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:jest/recommended",
    "prettier"
  ],
  "rules": {
    "no-tabs": 0,
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint", "jest", "prettier"],
      "extends": [
        "eslint:recommended",
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "prettier",
        "prettier/@typescript-eslint"
      ],
      "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module",
        "requireConfigFile": false,
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/explicit-module-boundary-types": [
          "warn",
          {
            "allowTypedFunctionExpressions": true
          }
        ]
      }
    }
  ]
}
